
/* Site header, site footer, page content, posts */

//Links to external font style sheets
@import url('https://fonts.googleapis.com/css?family=Share Tech Mono');


// Own classes imported

.html-tag{
  color: #2a7ae2;
}

.bordered-text {
  border: 1px solid #000; /* Border style, width, and color */
  padding: 10px; /* Add some padding inside the border for spacing */
  width: 350px;
  display: inline-block;
  box-sizing: border-box;
}

.img-with-text{
    display: flex; /* Use flexbox to align elements horizontally */
    align-items: center; /* Center vertically within container */
    align-items: center;
    margin: 0;
}

.text{
  flex: 1; /* Distribute available space equally between text and image */
  padding: 20px; /* Add some spacing around the text */
  text-align: center;
}

.intro-text{
  font-size: 36px;
}

.secondary-text{
  font-size: 28px;
}



.seflie-drawn{
  max-width: 95px; 
  width: 95px;
  height: 130px; 
  border: 1px solid #2a7ae2;
}


.center-content{
  text-align: center;
  
}

pre{
  font-size: 12px; /* Set the font size */
  color: #333; /* Set the text color */
  background-color: white; /* Set the background color */
  padding: 10px; /* Add padding to provide spacing around the text */
  border: 1px solid white; /* Add a border for visual separation */
  white-space: pre-wrap; /* Preserve line breaks and wrap long lines */
}


.no-padding-paragraph {
  font-style: "Segio UI";
  @include relative-font-size(1.3);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin: 0px; 
  padding: 0px; 

}

/**
 * Site header
 */
 
.site-header {
  border-top: 5px solid $grey-color;
  /*border-bottom: 1px solid $grey-color-light;*/
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-food-header {
  border-top: 5px solid #086dcc ;
  /*border-bottom: 1px solid $grey-color-light;*/
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-computing-header {
  border-top: 5px solid #9a4962;
  /*border-bottom: 1px solid $grey-color-light;*/
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  text-align: center; /*changed*/
  line-height: $base-line-height * $base-font-size * 2.25;
  padding-top: 3px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-style: "Roboto";
    
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;   

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}









/**
 * Site footer
 */
.site-footer {
  //border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  color: $secondary-font;
  text-align: center;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.older-posts{
  list-style: none;
  margin-left: 0;
}

.post-meta {
  font-size: $small-font-size;
  color: $secondary-font;
}

.post-meta-cs {
  font-size: $small-font-size;
  color: #542836;
}


.post-link-tech {
  display: block;
  @include relative-font-size(1.5);
  font-family: 'Share Tech Mono';
  color: #9a4962;
  transition: transform 0.3s;

  &:hover{
    transform: scale(1.1); 
    color: #9a4962;

  }
} 

.post-link-food {
  display: block;
  @include relative-font-size(1.5);
  font-family: $base-font-family;
  color: #086dcc;
  transition: transform 0.3s;

  &:hover{
    transform: scale(1.1); 
  }
}


// Code for ascii art represented on phone screen 
.ascii-art-phone{ display: none;}

@include media-query($on-palm){
  .ascii-art-laptop{
    display: none;
  }

  .ascii-art-phone{
    display: block;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title-tech {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-title-food {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}


.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

}
