<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <!-- Default for every page includes the header and footer _includes -->


<!-- head includes meta data about the website -->
  {%- include head.html -%}

  <body>
    <!-- header is the top portion of the website  -->
    {%- include computing-header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
