<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <!-- Food and Fitness landing page home workout  -->


  <!-- head includes meta data about the website -->
  {%- include head.html -%}

  <body>
    <!-- header is the top portion of the website  -->
    {%- include food-header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <!-- Content is defined in the class that uses this layout, food.html page -->
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
